[submodule "dpdk"]
	path = dpdk
	url = https://github.com/DPDK/dpdk
[submodule "spdk"]
	path = spdk
	url = https://github.com/spdk/spdk
[submodule "rdma-core"]
	path = rdma-core
	url = https://github.com/linux-rdma/rdma-core
[submodule "apps/storage_service/snappy"]
	path = apps/storage_service/snappy
	url = https://github.com/google/snappy.git
[submodule "deps/pcm"]
	path = deps/pcm
	url = https://github.com/intel/pcm.git
[submodule "aspen-go/go"]
	path = aspen-go/go
	url = https://github.com/PLSysSec/go-preempt.git
	branch = net-optimized
[submodule "m-semaphore/deps/pcm"]
	path = m-semaphore/deps/pcm
	url = https://github.com/intel/pcm.git
[submodule "m-semaphore/deps/benchmark"]
	path = m-semaphore/deps/benchmark
	url = https://github.com/google/benchmark.git
[submodule "breakwater/apps/rocksdb/deps/rocksdb"]
	path = breakwater/apps/rocksdb/deps/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "breakwater/apps/dataframe/deps/DataFrame"]
	path = breakwater/apps/dataframe/deps/DataFrame
	url = https://github.com/hosseinmoein/DataFrame.git
