# an example runtime config file
host_addr 192.168.10.199
host_netmask 255.255.255.0
host_gateway 192.168.10.1
runtime_kthreads 45
runtime_spinning_kthreads 45
runtime_guaranteed_kthreads 45
runtime_priority lc
enable_directpath qs
runtime_uthread_quantum_us 5
runtime_uthread_hard_quantum_us 50000
runtime_timer_core 23